{{>header}}

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>{{errstatus}}</h1>
        </div>
        <h2>Oops, Something went wrong!!!</h2>
        <a href="/" class="home-btn">Go Home</a>
    </div>
</div>
{{>footer}}