{{>header}}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-7">
                <div class="banner_slider">
                    <div class="single_banner_slider">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1>Sàn đấu giá trực tuyến</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cat_product_area section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
<<<<<<< HEAD
<<<<<<< HEAD
                        <div class="row">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    <h2>Top 5 sản phẩm gần kết thúc</h2>
                                </div>
=======
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu product_bar_item">
                                <h2>Top 5 sản phẩm gần kết thúc</h2>
>>>>>>> parent of 7dfe048... sửa lỗi hiển thị sản phẩm trên màn hình chính
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#each this.nearFinish}}
                        {{>productCard}}
                        {{/each}}
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
<<<<<<< HEAD
=======
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu product_bar_item">
                                <h2>Top 5 sản phẩm gần kết thúc</h2>
                            </div>
                        </div>
                    </div>
                    {{#each this.nearFinish}}
                    {{>productCard}}
                    {{/each}}
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
>>>>>>> parent of adeab00... Thêm quản lý danh sách người dùng
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    <h2>Top 5 sản phẩm có nhiều lượt ra giá nhất</h2>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div class="row ">
                            {{#each this.popular}}
                            {{>productCard}}
                            {{/each}}
=======
                            <div class="col-sm-12">
                                <div class="product_top_bar d-flex justify-content-between align-items-center">
                                    <div class="single_product_menu product_bar_item">
                                        <h2>Top 5 sản phẩm có nhiều lượt ra giá nhất</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{#each this.popular}}
                                {{>productCard}}
                                {{/each}}
                            </div>
>>>>>>> parent of 7dfe048... sửa lỗi hiển thị sản phẩm trên màn hình chính
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product_top_bar d-flex justify-content-between align-items-center">
                                    <div class="single_product_menu product_bar_item">
                                        <h2>Top 5 sản phẩm có giá cao nhất</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {{#each this.mostExpensive}}
                                {{>productCard}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
{{>footer}}

{{#section 'js'}}

{{>subJs}}
{{/section}}
=======

                    </div>
                    {{#each this.popular}}
                    {{>productCard}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="product_top_bar d-flex justify-content-between align-items-center">
                        <div class="single_product_menu product_bar_item">
                            <h2>Top 5 sản phẩm có giá cao nhất</h2>
                        </div>
                    </div>
                </div>
                {{#each this.mostExpensive}}
                {{>productCard}}
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{>footer}}
>>>>>>> parent of adeab00... Thêm quản lý danh sách người dùng
