<form>
  <div class="form-group">
    <label for="Name">Tên sản phẩm</label>
    <input type="text" class="form-control" id="Name" placeholder="Tên sản phẩm" name="Name">
  </div>
  <div class="form-group">
    <label for="Price">Giá khởi điểm</label>
    <input type="number" class="form-control" id="Price" placeholder="Giá khởi điểm">
  </div>
</form>