{{>header}}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Trang chủ/ Sản phẩm yêu thích</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Cart Area =================-->
<section class="cart_area mt-5">
    <div class="container">
        <div class="cart_inner">
            <div class="form-group ">
                <h4>Danh sách yêu thích</h4>
            </div>
            <div class="container">
            </div>
        </div>
</section>
{{footer}}